@import "../base/base.scss";
.carousel-wrapper {
    // width: 500px;
    // outline: 1px solid red;
    min-width: 100%;
    width: 100%;

    .slide {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        aspect-ratio: 2 / 1;
    }
    .slide img {
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
    }

    @media screen and (width < $breakpoint-1) {
        .slide {
            aspect-ratio: 1 / 1;
        }
    }
    li .splide__pagination__page {
        border-radius: 10px;
    }
    li .splide__pagination__page.is-active {
        background-color: $color-primary-v3;
    }
}
