.Chip {
    border: 1px solid white;
    width: max-content;
    padding: 3px 15px;
    border-radius: 50px;
    display: grid;
    cursor: pointer;
    user-select: none;
    display: flex;

    span {
        color: white;
        font-size: 0.8em;
    }
}
