@use "../base/colours" as cols;
@import "../base/base.scss";

.card {
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.26);
	border-radius: 8px;
	width: 100%;
	height: 130px;
	padding: $padding-panel-3;
	display: flex;
	gap: $padding-panel-3;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	.thumbnail {
		height: 100%;
		aspect-ratio: 4 / 3;
		flex-shrink: 0;
		border-radius: 5px;
		object-fit: cover;
		object-position: center;
	}

	.info-container {
		width: 100%;
		height: 100%;
		flex-shrink: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		.property {
			display: flex;
			gap: 10px;
			align-items: center;

			img {
				height: 15px;
				aspect-ratio: 1 / 1;
				object-fit: contain;
				object-position: center;
			}
		}

		.extension {
			display: none;
			flex-direction: column;
			height: 100%;
			margin-bottom: 5px;
		}

		.title {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: $font-size-body-1;
			margin-bottom: 5px;
			flex-shrink: 0;
		}

		p {
			font-size: $font-size-body-2;
			color: $color-grey-v2;
			font-weight: $font-weight-normal;
		}

		.make-model-year {
			margin-bottom: 5px;
		}

		.seller {
			margin-top: auto;
		}

		.price {
			margin-top: auto;
			text-align: right;
			font-size: $font-size-body-2;
			font-weight: $font-weight-normal;
			background-color: $color-primary-v1;
			color: $color-white-v1;
			width: max-content;
			min-width: 50px;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 5px $padding-panel-3;
			border-top-left-radius: 10px;
		}
		.location {
			margin-top: auto;
			max-width: calc(100% - 70px);
			p {
				font-size: $font-size-body-1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

	@media screen and (width > $breakpoint-2) {
		height: 200px;
		gap: $padding-panel-1;

		.info-container {
			.extension {
				display: flex;
			}
		}
	}
}

// .card {
// 	width: 100%;
// 	display: flex;
// 	// grid-template-columns: auto 1fr;
// 	gap: 20px;
// 	padding: 20px;
// 	border-radius: 10px;
// 	box-shadow: 0px 0px 15px 5px cols.$disabled-button;
// 	color: $color-primary-v4;
// 	font-size: $font-size-body-1;
// 	height: 250px;

// 	// .splide {
// 	// 	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.169);
// 	// 	border-radius: 5px;
// 	// 	aspect-ratio: 7 / 3;
// 	// 	width: 300px;

// 	// 	.splide__track {
// 	// 		aspect-ratio: 7 / 3;
// 	// 		width: 300px;
// 	// 		.splide__list {
// 	// 			// height: 300px;
// 	// 			aspect-ratio: 7 / 3;
// 	// 			width: 300px;

// 	// 			.splide__slide {
// 	// 				img {
// 	// 					border: 1px solid red;
// 	// 					width: 100%;
// 	// 					height: 100%;
// 	// 					// height: 100%;
// 	// 					// width: 100%;
// 	// 					object-fit: cover;
// 	// 				}
// 	// 			}
// 	// 		}
// 	// 	}
// 	// }

// 	.carousel {
// 		height: 100%;
// 		aspect-ratio: 1 / 1;
// 		outline: 1px solid black;
// 		flex-grow: 0;
// 	}

// 	.card-info {
// 		flex-grow: 1;
// 		display: flex;
// 		flex-direction: column;
// 		gap: 10px;
// 		width: 100%;

// 		.list-title {
// 			font-size: $font-size-header-3;
// 			color: $color-primary-v3;
// 		}

// 		.specs {
// 			display: flex;
// 			justify-content: space-between;
// 			gap: 20px;
// 			width: 100%;
// 			height: 100%;

// 			.prop-panel {
// 				display: flex;
// 				flex-direction: column;
// 				justify-content: space-evenly;
// 				gap: 5px;
// 				font-size: 0.8em;
// 			}

// 			.item-property {
// 				display: flex;
// 				gap: 10px;
// 				align-items: center;

// 				& > img {
// 					width: 18px;
// 					height: 18px;
// 					object-fit: contain;
// 				}
// 			}

// 			.main-specs {
// 				justify-content: flex-start;
// 				width: 100%;
// 				max-width: 300px;
// 				gap: 15px;

// 				.price {
// 					color: $color-primary-v1;
// 					font-size: 1.5em;
// 					// margin-bottom: 10px;
// 				}

// 				.description {
// 					overflow: hidden;
// 					display: -webkit-box;
// 					-webkit-box-orient: vertical;
// 					-webkit-line-clamp: 3;
// 					white-space: pre-wrap;
// 				}
// 			}

// 			hr {
// 				display: block;
// 				height: 150px;
// 				border: 0.5px solid cols.$disabled-button;
// 			}

// 			.detail-specs {
// 				border-left: 1px solid grey;
// 				padding-inline: 20px;
// 			}
// 		}
// 	}

// 	@media screen and (width < $breakpoint-1) {
// 		.splide {
// 			height: max-content;
// 			.splide__track {
// 				.splide__list {
// 					width: 100px;

// 					.splide__slide {
// 						img {
// 							height: 100%;
// 							width: 100%;
// 							object-fit: cover;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}

// 	@media screen and (width < $breakpoint-2) {
// 		grid-template-columns: 1fr;
// 		grid-template-rows: auto 1fr;

// 		.carousel {
// 			width: 100%;
// 			aspect-ratio: 4 / 3;
// 		}

// 		// .splide {
// 		// 	.splide__track {
// 		// 		.splide__list {
// 		// 			height: 300px;
// 		// 			aspect-ratio: 4 / 3;

// 		// 			.splide__slide {
// 		// 				img {
// 		// 					height: 100%;
// 		// 					width: 100%;
// 		// 					object-fit: cover;
// 		// 				}
// 		// 			}
// 		// 		}
// 		// 	}
// 		// }

// 		.card-info {
// 			.specs {
// 				.detail-specs {
// 					display: none;
// 				}
// 			}
// 		}
// 	}
// }
