@use "../base/colours" as cols;

.card {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px cols.$disabled-button;
}
.card img {
    max-width: 300px;
    padding: 10px;
}
.card-info {
    display: flex;
    flex-direction: column;
}
.list-title {
    padding-bottom: 20px;
    color: cols.$nav-blue;
}
.specs {
    color: cols.$grey-text;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.price {
    color: cols.$primary-button;
    font-size: 1.5rem;
}

hr {
    display: block;
    height: 100px;
    border: 0.5px solid cols.$off-white;
}
