@import "../base/base.scss";

h2 {
	color: $color-primary-v2;
	animation-name: loopAnim;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes loopAnim {
	0% {
		opacity: 0;
		transform: translateX(-50%);
	}
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(10%);
	}
}
