@import "../App.scss";

.navbar {
    width: 100%;
    height: 60px;
    background-color: #232939;
    position: absolute;
    top: 0;
    align-items: center;
    padding: 10px;
    display: flex;
    z-index: 100;

    .logo {
        width: 30%;
    }

    .hamburger {
        width: 7%;
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: flex-end;
        
    }

    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 1.2em;
        color: #F3F5F9;
    }



}