@import "../base/base.scss";

.Options {
	position: relative;
	user-select: none;
	cursor: pointer;
	height: max-content;

	button {
		display: flex;
		justify-content: center;
		padding: 12px 12px;
		background-color: transparent;
		border: none;
		cursor: pointer;

		img {
			width: 20px;
		}
		&:hover {
			background-color: mix($color-primary-v2, white, 40%);
		}
	}

	.dropdown {
		display: flex;
		flex-direction: column;
		z-index: 10;
		position: absolute;
		top: 35px;
		right: 0;
		background-color: $color-white-v1;
		border: 1px solid $color-primary-v3;
		border-radius: 5px;
		padding: 5px;
		padding-block: 5px;
		font-weight: bold;

		.option {
			color: $color-primary-v3;
			padding: 5px 30px;
			border-radius: 3px;
			&:hover {
				background-color: mix($color-primary-v2, white, 40%);
			}
		}
		&.collapsed {
			display: none;
		}
	}
}
