$primary-button: #3d38f1;
$secondary-button: #74ac6c;
$disabled-button: #cfd5df;
$destructive: #d2736f;
$grey-text: #929aa5;
$off-white: #f3f5f9;
$purple-speech: #9e9cf5;
$bookmark: #eed25a;
$nav-blue: #232939;
$medium-blue: #323776;
