// breakpoints
$breakpoint-1: 1200px;
$breakpoint-2: 750px;

// colors
$color-primary-v1: #3d38f1;
$color-primary-v2: #9e9cf5;
$color-primary-v3: #323776;
$color-primary-v4: #2d3549;
$color-secondary-v1: #74ac6c;
$color-tertiary-v1: #d2736f;
$color-white-v1: #f3f5f9;
$color-grey-v1: #cfd5df;
$color-grey-v2: #929aa5;

// font sizes
$font-size-header-1: 2em;
$font-size-header-2: 1.8em;
$font-size-header-3: 1.5em;
$font-size-body-1: 1em;
$font-size-body-2: 0.8em;

// paddings
$padding-panel-1: 30px;
$padding-panel-2: 15px;
