@import "../base/base.scss";

.CreateListing {
	.section-container {
		display: flex;
		flex-direction: column;
		gap: $gap-section-2;

		.flex-container {
			display: flex;
			gap: $gap-section-2;
			row-gap: $gap-section-3;

			section {
				display: flex;
				flex-direction: column;
				gap: $gap-section-3;
				width: 100%;

				.property {
					display: flex;
					gap: $gap-section-3;

					select {
						width: 100%;
					}

					input[type="date"] {
						min-width: 150px;
					}
				}

				button[type="submit"] {
					margin-top: $gap-section-2;
				}
			}
		}

		.carousel {
			width: 100%;
			height: 300px;
			outline: 1px solid grey;
			border-radius: 10px;
		}

		.description {
			resize: none;
			height: 200px;
		}
	}

	@media screen and (width < $breakpoint-2) {
		.flex-container {
			flex-direction: column;
		}
	}
}

.btnWrap {
	padding-top: 50px;
  }
  
  button {
	background: lightseagreen;
	color: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	border: 0 none;
	font-weight: bold;
	cursor: pointer;
	margin-right: 10px;
  }
  
  button:hover {
	background: darkcyan;
  }
  
//   .toast {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	padding: 11px;
// 	min-width: 200px;
// 	transform: translate(-50%, -50%);
// 	z-index: 3;
// 	background: rgba(0, 0, 0, 0.7);
// 	color: #fff;
// 	border-radius: 4px;
// 	border: 1px solid #000;
//   }

.toast {
	position: absolute;
	bottom: 8%;
	left: 50%;
	padding: 11px;
	min-width: 200px;
	transform: translate(-50%, 50%);
	z-index: 3;
	background: #74ac6cf1;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #74ac6c;
  }

  
  
  
  
  