@import "../base/base.scss";

.HomePage {
	.side-bar {
		//
	}
	.main {
		.content-container {
			.section-container {
				display: flex;
				flex-direction: column;
				gap: $gap-section-2;
			}
		}
	}
}
