@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600&display=swap");
@import "./base/base.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "poppins", sans-serif;
	color: rgb(51, 51, 51);
	font-size: 1em;

	&::-webkit-scrollbar {
		display: none;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.button {
	background-color: $color-primary-v1;
	color: $color-white-v1;
	padding: 10px 20px;
	border-radius: 8px;
	border: none;
	font-size: $font-size-body-1;
	width: max-content;
	font-weight: $font-weight-normal;

	&.primary {
		background-color: $color-primary-v1;
	}

	&.secondary {
		background-color: $color-secondary-v1;
	}

	&.tertiary {
		background-color: $color-tertiary-v1;
	}

	&.grey {
		background-color: $color-grey-v2;
	}

	&.v2 {
		padding: 10px 20px;
	}

	&.v3 {
		padding: 5px 8px;
	}

	&.span {
		width: 100%;
	}
}

.App {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.navbar {
		flex-shrink: 0;
	}

	.page {
		flex-grow: 1;
		display: flex;
		height: 100%;
		overflow: hidden;
		background-color: $color-white-v1;

		.sidebar {
			background-color: $color-primary-v4;
			width: 300px;
			height: 100%;
			flex-shrink: 0;
			padding: $padding-panel-1;
		}

		.main {
			width: 100%;
			flex-grow: 1;
			overflow-y: scroll;
			padding: $padding-panel-1;
			display: flex;
			justify-content: center;
			position: relative;

			.content-container {
				max-width: 1000px;
				width: 100%;
				height: max-content;

				display: flex;
				flex-direction: column;
				gap: $gap-section-3;

				.page-title {
					font-size: $font-size-header-3;
					color: $color-primary-v1;
					font-weight: $font-weight-black;
					margin-bottom: $padding-panel-2;
				}
				
				.section-container {
					section {
						.section-title {
							font-size: $font-size-body-1;
							padding-bottom: $padding-panel-2;
							margin-bottom: $padding-panel-2;
							color: $color-primary-v1;
							font-weight: $font-weight-bold;
							border-bottom: 1px solid $color-grey-v2;
						}
					}
				}
			}
		}
	}

	@media screen and (width < $breakpoint-1) {
		.page {
			flex-direction: column;
			overflow: scroll;

			.sidebar {
				width: 100%;
				height: auto;
				min-height: 80px;
			}

			.main {
				overflow-y: visible;

				.content-container {
				}
			}
		}
	}

	@media screen and (width < $breakpoint-2) {
		.page {
			.sidebar {
				padding: $padding-panel-2;
			}

			.main {
				padding: $padding-panel-2;
				.content-container {
					//
				}
			}
		}
	}
}
